*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);
}

main {
    max-width: 850px;
}

aside {
    width: 500px;
    margin: 10px;
    border: 1px solid black;
    padding: var(--padding);
    background-color: aliceblue;
    color: darkblue;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
} 

footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
}